footer{
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    width: 100%;
    background: #174663;
    color: whitesmoke;
}
.container-body{
    display: flex;
}
.column1{
    max-width: 400px;
}
.column1 h3 {
    font-size: 22px;
}
.column1 p {
    font-size: 14px;
    color: #c7c7c7;
    margin-top: 20px;
    padding: 10px 50px 30px 0;
}
.column2{
    max-width: 400px;
}
.column2 h3{
    font-size: 22px;
}
.row{
    margin-top: 20px;
    display: flex;
}
.row img{
    width: 36px;
    height: 36px;
}
.row label {
    margin-top: 10px;
    margin-left: 10px;
    color: #c7c7c7;
}