.service-mid li{
    grid-template-columns: 50% 50%;
    padding: 5em 3em;
  }
  .service-mid li p{
    font-size: 22px;
    text-align: center;
    
  }
  .service-mid li img{
  
    width:  400px;
  }