.trabajo-superior img{
    width:1480px;
    width: 100%;
    height: 200px;
  }
  
  .trabajo-medio p{
    font-size: 22px;
  }
  
  .trabajo-medio ul{
    display: flex;
    
  }
  .trabajo-medio ul img{
    height: 90%;
    width: 90%;
    margin: 0 4px;
  }
  
  .trabajo-inferior p{
    font-size: 22px;
    text-align: center;
  }
  